p, li {
    font-size: 20px;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chance, button, input {
    font-size: 18px;
}

.game-container, .player-2, .update-btn {
    display: none;
}

.error-message, .todo-error {
    font-size: 18px;
    font-weight: 500;
    color: red;
}
