p, li {
    font-size: 20px;
}



.chance, button, input {
    font-size: 18px;
}


.game-container, .player-2 {
    display: none;
}

.error-message, .todo-error {
    font-size: 18px;
    font-weight: 500;
    color: red;
}
